body {
  background-color: #F5F4F4;
  text-align: center;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
}


h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  color: #00303F;
}


h2 {
  font-size: 2.5rem;
    color: #00303F;
}

h3 {
    color: #00303F;
}

.top-container {
  background-color: #CAE4DB;
  position: relative;
  padding-top: 100px

}

.middle-container {
  /*background-color: #CDAC81;*/

}

.bottom-container {
  /*background-color: #00303F;*/
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.Kamil {
  font-family: 'Festive', cursive;
}

.contact-me {
    color: #00303F;
}

/*
.Kamil {
  color: #2C5460
}

/*
Colors =]
F5F4F4
CAE4DB
CDAC81
00303F */
